body, ul, li, h1, h2, a, img, p {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style: none;
}

main p {
    padding: 10px 25px;
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

body {
    background-color: #141414;
    color: #dddddd;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header p {
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

nav {
    background-color: #313131;
    /* position: sticky;
    top: 0; */
}

nav ul {
    white-space: nowrap;
    margin: 0 auto;
    max-width: 1200px;
}

li a.join {
    text-transform: uppercase;
}

nav li {
    /* display: inline-block; */
    /* width: 24.75%; */
    margin: 10px 0;
    text-align: center;
    font-size: 23px;
    /* border: 1px #ff0022cc solid; */
}

nav li:hover {
    color: crimson;
    text-decoration: underline;
}

main {
    max-width: 100%;
    /* width: 1200px; */
    width: 80em; /*80 times the fony size */
    margin: 40px auto;
}

main article p {
    margin: 40px auto;
}

main p::first-line {
    color: crimson;
    font-size: 1.2em;
}

main article span {
    color: crimson;
    font-size: 1.2em;
}

main ul {
    white-space: nowrap;
    margin: 0 auto;
    list-style: none;
}

.images {
    text-align: center;
}

main ul li {
    width: 90%;
    margin: 0px auto 40px;
}

main img {
    width: 95%;
}

footer {
    background-color: #313131;
}

footer h2 {
    padding: 50px 50px;
    text-align: center;
}

/* RESPONSIVE DESIGN */

@media screen and (min-width: 800px) {
    header img {
        width: auto;
    }
    nav {
        position: sticky;
        top: 0;
    }
    nav li {
        display: inline-block;
        width: 24.75%;
    }
}

@media screen and (min-width: 1000px) {
    main ul li {
        display: inline-block;
        width: 45%;
        margin: 20px auto 40px;
    }
}